header{
    background-color: aquamarine;
    padding: 1em 2vw;
    display: flex;
    justify-content: space-between;
}
header h1{
    margin: 2px 1em 0 0;
}
header div p{
    padding: 0 1vw;
    text-align: center;
}

#home{
    height: 30em;
    background-image: url("./img/foto1.jpg");
    background-position: bottom;
}

#logIn{
    height: 70vh;
    background-image: url("./img/foto1.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}


#categories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 0;
    text-align: center;
    align-items: center;
}
#findItem{
    padding: 1em 0;
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto auto auto;
    -ms-grid-columns : auto auto auto;
    width: 70%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(153, 135, 135);
    text-align: center;
    color:#fff;
}
